<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.expertsystem"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.framework.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.framework.gcm.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_hama_padi"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.expertsystem.SplashScreenActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.expertsystem.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.expertsystem.LoginActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.expertsystem.MainActivity"
            android:label="@string/app_name" 
            android:icon="@drawable/icon_hama_padi">
            <intent-filter>
                <action android:name="com.example.expertsystem.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.expertsystem.DaftarActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.expertsystem.DaftarActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.expertsystem.ChatUserActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.expertsystem.ChatUserActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.example.expertsystem.ChatGCMBroadcast" >
            <intent-filter android:priority="90" >
                <action android:name="BROADCAST_CHAT.FOR_KHOLIQ" />
            </intent-filter>
        </receiver>
        
        <receiver
            android:name="com.framework.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.framework.gcm" />
            </intent-filter>
        </receiver>
         <service android:name="com.framework.gcm.GcmIntentService" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>